<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- for adding jquery commands -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- for adding jquery event listeners (***see tweeter***) -->
  <script type="text/javascript" src="/scripts/client.js"></script>

</head>
<body>
  
</body>
</html>