// See: https://sass-lang.com/

body,
html {
  margin: 0;
  background-image:url("/img/login_img.jpg");
}
.item-container {
  display: flex;
  flex-direction:column ;
}
.item-title {
  display: flex;
  flex-direction: row;
}
