body {
  background-image: url('https://i.ibb.co/hfhbSzH/login-img.jpg');
  // background-color: bisque;
}

.favourites {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}


html {
  margin: 0;
  background-image:url("/img/login_img.jpg");
}


div.col-7 {
  padding-right: 10%;
}

div.col-5 {
  padding-left: 10%;
}

p.buttons {
  padding-right: 10%;
}

.favourites {
  display: flex;
  justify-content: center;
  padding-top: 2%;
}


html {
  margin: 0;
  background-image:url("/img/login_img.jpg");
}


div.col-7 {
  padding-right: 10%;
}

div.col-5 {
  padding-left: 10%;
}

p.buttons {
  padding-right: 10%;
}